# --- IGNORE EVERYTHING ---
*

# --- EXCEPTIONS (Files to Keep on Cloud) ---
!saved_map.json
!version.json        
!maps_index.json     
!playermaps/
!playermaps/**/*.json
!.gitignore
!encyclopedia_data.json

# --- EXPLICIT IGNORES ---
*.py
*.pyc
*.exe
*.spec
*.bat
assets/
build/
dist/
__pycache__/
user_login.json
maps/